body{
    background: #f9f9f9;
    *height: 100%;
}
header{
    font-size: 8pt;
    font-family: sans-serif;
}
article{
    background-color: #eeeeee;

}


.comment{
    background-color: #eeeeee;
    font-size: 10pt;
}
.comment-head{
    font-size: 50pt;

}
footer{
    font-size: 10pt;
    font-family: sans-serif;
}
