body{
    background: #f9f9f9;
    height: 100%;
    padding: 0;
    margin: 0;
}
header{
    font-size: 8pt;
    font-family: sans-serif;
}
article{
    background-color: #eeeeee;
}
.comment-head{
    font-size: 20pt;
}
.comment{
    background-color: #eeeeee;
}
footer{
    font-size: 8pt;
    font-family: sans-serif;
}
